// Place all the styles related to the SqlEditor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sql-editor_root {
    max-width: 1200px;
    margin: 20% auto 20% auto;
}

.index_root {
    max-width: 1200px;
    margin: 20% auto 20% auto;
}
